.container{
    width:100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container p{
    color: white;
    font-size: 30px;
}

.all-reviews-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    margin: 50px 50px 0 100px;
  }

  .heading-slide-in{
    animation: headSlideIn 0.4s ease-in;
}

@keyframes headSlideIn{
    0%{
        opacity: 0.5;
        font-size: 0;
    }
    100%{
        transform: skew(0deg);
        opacity: 1;
    }
}

/* Review */

.main-review-container{
    border-radius: 2%;
    border: 2px solid black;
    font-size: medium;
    margin: 20px 20px 0 0;
    width: 28%;
    max-height: fit-content;
    height: 100%;
    min-height: 250px;
    padding: 20px;
    color: black;
    background-color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.review-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

.review-container p{
    margin-top:2px;
  }

.detailed-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.detailed-btn-container button{
    cursor: pointer;
    font-size: 16px;
    width: 50%;
    background-color: black;
    color: white;
    border-radius: 5%;
    padding: 5px;
}

.reviewer-info-container {
    display: flex;
    align-items: center;
    width:100%;
}

.review-like-count {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.image-box{
    height: 50px;
    width: 50px;
}

.image-box img{
    height: 100%;
    width: 100%;
}

.reviewer-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-left: 15px;
}

.review-user:hover{
    text-decoration: underline;
    cursor: pointer;
}

.review-like-count p {
    margin: 0; /* Remove default margin for the paragraph inside */
}

.place-review-page{
    position: relative;
}

.login-popup{
    height: 60%;
    width: 25%;
    border: 2px solid black;
    position: fixed;
    top: calc(50vh - 35%);
    left:calc(50vw - 15%);
    background-color: white;
    display: none;
    border-radius: 5%;
    padding: 15px;
    /* background-color: rgb(238, 238, 238); */
    background-color: white;
}

.fade-in { animation: fadeIn 1s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .close-btn-container{
    text-align: right;
    margin: 5px 10px 0 0;
    cursor: pointer;
  }
  .close-btn-container:hover{
    color: rgb(231, 18, 18);
  }

  .cc-btn{
    top:7rem;
    right: 3rem;
    position: fixed;
    cursor: pointer;
    border-radius: 5px;
    width:4.1rem;
    height:4.1rem;
    border:none;
    padding: none;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* .cc-btn:hover{
    height:3.1rem;
    width:8.1rem;
    background-color: black;
  } */

  .newimg{
    position: fixed;
    top:6rem;
    right: 9rem;
    height:2rem;
    width:3rem;
    z-index: 2;
  }

  .curgif{
    height:4rem;
    width:4rem;
    margin:none;
  }

  @media only screen and (max-width:1400px){
    .main-review-container{
        width: 40%;
        margin: 30px auto;
    }

    .all-reviews-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: end;
        margin:30px;
      }

      .login-popup{
        height: 60%;
        width: 25%;
    }

    .average-ratings-display-container{
      display: flex;
      padding: 0 5vw;
      flex-wrap: wrap;
    }
  
  .average-ratings-display-container p{
    margin: 0.5em 2em !important;
  }
  }
  @media only screen and (max-width:800px){
    .main-review-container{
        width: 100%;
        margin: 30px auto;
    }

    .all-reviews-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: end;
        margin:30px;
      }

      .login-popup{
        height: 60%;
        width: 70%;
        top: calc(50vh - 35%);
        left:calc(50vw - 40%);
    }
  
    .average-ratings-display-container{
      display: grid !important; 
      padding: 0 5vw;
    }
  
  .average-ratings-display-container p{
    margin: 0.5em 2em !important;
  }
  }

  .average-ratings-container{
    display: grid;
    border-bottom: 1px solid rgb(187, 187, 187);
    background-color: rgba(224, 243, 233, 0.425);
    padding-top: 1em;
  }

  .average-ratings-container p{
    font-weight: 700;
  }

  .average-ratings-display-container{
    display: flex;
    padding: 0 5vw;
    margin:auto;
  }

.average-ratings-display-container p{
  margin: 2em 2em;
}

.place-rating{
  font-size: 1.2em;
}

.color-indicator{
  width: 100%;
  font-size: 12px;
  border: 1px solid black;
  margin-left: auto;
}

.review-colors{
  width: 100%;
  align-items: end;
  align-content: end;
  display: flex;
  flex-direction: row;
}

.color-meaning{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.color-box{
  width:5%;
  height:0;
  margin:5px
}